/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* Font */
/* @font-face{
    font-family: "Riot";
    src: url(../media/BeaufortforLOL-Bold.otf);
} */

/* Nav */

/* .fondo-principal{
    background-image: url(../media/Jonia.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-clip: content-box;
}
.fondo-guerra{
    background-image: url(../media/image-4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-clip: content-box;
}
.logo{
    width: 80px;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.336);
}

.navbar-collapse{
    display: flex;
    justify-content: center;
}
div ul{
    display: flex;
    gap: 100px;
}

.nav-link{
    color: white;
    font-size: 25px;
}
/*  Main index */
/* .presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  

.jonia{
    font-family: Riot;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: #AF9155;
}

.frase{
    font-family: Riot;
    color: #AF9155;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
   
}

.parrafo {
    width: 50%; 
    background-color: rgba(0, 0, 0, 0.452);
    color: #AF9155;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 22px;
}

p{
    letter-spacing: 2px;
}

footer{
    margin-top: 100px;

}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.438);
}
.contenido{
    margin: 50px;
}

.icons{
    filter: invert(1);
    width: 50px;
    margin-right: 30px;
}

/* Web Campeones */

/* .carousel-conteiner{
    display: flex;
    justify-content: center;
    margin-top: 100px;
} */

/* .carousel{
    width: 1000px;
    border: 2px solid black
}

.fondo{
    text-shadow: 2px 2px 4px rgb(0, 0, 0);

} */

/* Web Fan Arts */
/* .imagenes{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-template: 
        "img1 img1 img2 img2"
        "img3 img3 img4 img4"
        "img5 img5 img6 img6"
        "img7 img7 img8 img8"
        "img9 img9 img10 img10"
        "img11 img11 img12 img12"
    ;

    gap: 1rem;
    margin: 10px 30px 10px 30px;
    padding: 50PX;

}

section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}
.img8{
    grid-area: img8;
}
.img9{
    grid-area: img9;
}
.img10{
    grid-area: img10;
}
.img11{
    grid-area: img11;
}
.img12{
    grid-area: img12;
} */

/* Web Guerra */
 /* .caja-nuno {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;

}

.caja-nunon {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;

}

.imagen-noxus {
    max-width: 50%; 
    height: auto;
    border: 2px solid black;
}
.imagen-noxus img{
    width: 100%;
    height: 100%;

}

.caja-textouno {
    flex: 1; 
    padding: 0 20px;
    text-align: center;
}

.texto-noxus{
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}  */

/* Web Videos */


/* .videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textvideo{
    font-family: Riot;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: #AF9155;
}

.espacio-video{
    display: flex;
    justify-content: center;
    background-color: rgba(54, 54, 54, 0.959);
    width: 60%;
    height: 500px;
    align-items: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.959); 
    border: 1px solid rgba(0, 0, 0, 0.911);
}

iframe {
    border: 1px solid black;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.959);
}  */


/* medias */

 /* @media screen and (max-width: 1000px){
    .parrafo{
        width: 65%;
    }

    .caja-nuno{
        display: flex;
        flex-direction: column;
        
    }
    .caja-nunon{
        display: flex;
        flex-direction: column-reverse;

    }
    .imagen-noxus {
        max-width: 100%; 
        height: auto;
        border: 2px solid black;
    }
} */

/* @media screen and (max-width: 768px) {
    .imagenes{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(1, auto);
        grid-template: 
            "img1 img1"
            "img2 img2"
            "img3 img3"
            "img4 img4"
            "img5 img5"
            "img6 img6"
            "img7 img7"
            "img8 img8"
            "img9 img9"
            "img10 img10"
            "img11 img11"
            "img12 img12"
        ;    
        gap: 1rem;
        
    }

    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    .img6{
        grid-area: img6;
    }
    .img7{
        grid-area: img7;
    }
    .img8{
        grid-area: img8;
    }
    .img9{
        grid-area: img9;
    }
    .img10{
        grid-area: img10;
    }
    .img11{
        grid-area: img11;
    }
    .img12{
        grid-area: img12;
    }


} */

/* Media query para dispositivos móviles */
/* @media screen and (max-width: 480px) {
    .espacio-video {
        height: auto; 
    }

    .videos h2 {
        font-size: 1.5em;
    }
}  */
