// HTMLGUERRA
.main-guerra{
	.jonia{
		display: flex;
		justify-content: center;
		text-align: center;
		margin-top: 50px;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
		color: #8d2d1c;
	}
	.caja-nuno{
		@include flex(row, center, center);
		margin: 150px;
		margin-left: 100px; 
		margin-right: 100px; 
		margin-bottom: 150px; 
	}
	.caja-nunon{
		@include flex(row, center, center);
		margin: 150px;
		margin-left: 100px;
		margin-right: 100px; 
		margin-bottom: 150px; 
	}
	.imagen-noxus{
	max-width: 50%; 
	height: auto; 
	border: 2px solid black; 
	} 
	.imagen{ 
	width: 100%; 
	height: 100%;
	}
	.caja-textouno{
	flex: 1;
	padding: 20px;
	text-align: center; 
	}   
	.texto-noxus{
	font-size: 15px; 
	color:  $color-primario; 
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
	}
}

