.main-campeones{
    .carousel-conteiner{
        @include flex(row,  center, center);
        margin-top: 90px;       
        .carousel{
            width: 1200px;
            border: 2px solid black;
            .fondo{
                text-shadow: 2px 2px 4px rgb(0, 0, 0);
            }
        }
    }
}