    // MEDIAQUERIES
@media screen and (max-width: 1000px){
    .main-guerra{
        // Encaje en columna del main guerra
        .caja-nuno{
                @include flex(column, center, center);

        }
            .caja-nunon{
                @include flex(column-reverse, center, center);
                .parrafo{
                    width: 65%;
                }
        }
            .imagen-noxus{
                max-width: 100%; 
                height: auto;
                border: 2px solid black; 
        } 
            .parrafo{
                width: 65%;    
        }
    }
}

@media screen and (max-width: 768px){
    // grid para ajustar las imagenes y texto
    .imagenes{
        @include grid(1 auto, 1 auto,       "img1 img1"
                                            "img2 img2"
                                            "img3 img3"
                                            "img4 img4"
                                            "img5 img5"
                                            "img6 img6"
                                            "img7 img7"
                                            "img8 img8"
                                            "img9 img9"
                                            "img10 img10"
                                            "img11 img11"
                                            "img12 img12" );
    gap: 5rem; 
    margin: 10px;
}

    .frase{
        @include flex(row, center, center);
    }
}

@media screen and (max-width: 550px){

    .main-video{
        .videos{
            .textvideo{
                font-size: 60px;
            }
        }
        .espacio-video {
            height: auto; 
        }
    }
    .frase{
        text-align: center;
    }

    // ajuste para dispositivos movile
    .imagenes{
            @include grid(1 auto, 1 auto,       "img1 img1"
                                                "img2 img2"
                                                "img3 img3"
                                                "img4 img4"
                                                "img5 img5"
                                                "img6 img6"
                                                "img7 img7"
                                                "img8 img8"
                                                "img9 img9"
                                                "img10 img10"
                                                "img11 img11"
                                                "img12 img12" );
        gap: 1rem; 

    }

    .main-guerra{
        .caja-nuno{
            @include flex(column, center, center);
            margin: 30px;
            margin-bottom: 30px; 
    }
        .caja-nunon{
            @include flex(column-reverse, center, center);
            margin: 30px;
            margin-bottom: 30px; 
    }
        .caja-textouno{
            font-weight: 100%;
            width: 100%;
        }
    }
}        


