header{
    .logo{
        width: 100px;
    }
    .navbar{
        background-color: rgba(0, 0, 0, 0.336);
        .navbar-collapse{
        @include flex(row, center, center);
        ul{
            display: flex;
            gap: 100px;
                .nav-link{
                    color: white;
                    font-size: 25px;
                }
                a{
                    &:hover{
                        color: #102F2B;    
                        transform: translateY(-5%);
                        transition: .4s;
                    }
                }
            }
        }
    }
}